In [3]:
poem = ''' twinkle twinkle little star how i wonder what you are Up above the world so high
Like a diamond in the sky'''
print(poem)

 twinkle twinkle little star how i wonder what you are Up above the world so high
Like a diamond in the sky

In [4]:
fruits =['apple', 'banana', 'cherry', 'guaua', 'mango']
print(fruits)

['apple', 'banana', 'cherry', 'guaua', 'mango']

In [5]:
fruits =('apple', 'banana', 'cherry', 'guaua', 'mango')
print(fruits)

('apple', 'banana', 'cherry', 'guaua', 'mango')

In [6]:
fruits =('apple', 'banana', 'cherry', 'guaua', 'mango')
fruits. append("grapes")

AttributeError: 'tuple' object has no attribute 'append'

In [8]:
fruits ={'apple', 'banana', 'cherry', 'guaua', 'mango', 'apple'}
print(fruits)

{'guaua', 'cherry', 'apple', 'banana', 'mango'}

In [10]:
student ={
    'name' : 'john',
    'age' :18,
    'class' : 7,
    'marks' : 75
}
print(student)

{'name': 'john', 'age': 18, 'class': 7, 'marks': 75}

In [12]:
#to check the data type of any variable
type(student)

dict

type casting
###### it is a process to convert the datatype of any variable into another datatype

In [14]:
a = 10
b = str(a)
type(b)

str

In [21]:
a = int (input("Enter a number:"))
print(a)

67

In [22]:
type(a)

int

In [31]:
salary = int(input("Enter a salary:"))
tda = 10/100* salary
hra = 5/100* salary
net_salary = salary + tda + hra
print(net_salary)

10337.35